<!DOCTYPE html>

<head>
  <title>JSON Schema Language</title>

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Mono:300,400,500"
    rel="stylesheet"
  />

  {{ $style := resources.Get "scss/index.scss" | resources.ToCSS (dict "includePaths" (slice "node_modules")) | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>
<body class="mdc-typography">
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section
        class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"
      >
        <button
          class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
        >
          check
        </button>
        <span class="mdc-top-app-bar__title">
          JSON Schema Language
        </span>
      </section>
    </div>
  </header>

  <div class="mdc-top-app-bar--fixed-adjust"></div>

  {{ block "main" . }}
  {{ end }}

  <footer class="jsl-footer">
    <div class="jsl-footer__inner">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p class="mdc-typography--headline6">JSON Schema Language</p>
          </div>
        </div>
        <div class="mdc-layout-grid__inner">
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"
          >
            <p class="mdc-typography--body2">
              JSON Schema Language is an open-source project. Please feel free
              to ask questions or contribute by checking out any of the links to
              the right.
            </p>

            <p class="mdc-typography--body2">
              Whenever interacting with the JSON Schema Language community,
              please adhere to our

              <a
                href="https://www.contributor-covenant.org/version/1/4/code-of-conduct"
              >
                Code of Conduct</a
              >.
            </p>

            <p class="mdc-typography--body2">
              © 2019 JSON Schema Language contributors
            </p>
          </div>

          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"
          >
            <p class="mdc-typography--body2">
              <a href="https://github.com/json-schema-language">GitHub</a>
            </p>

            <p class="mdc-typography--body2">
              <a
                href="https://tools.ietf.org/html/draft-json-schema-language-01"
              >
                IETF Internet-Draft
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
