.Navbar .Navbar__LogoText {
  font-size: 1.5rem;
}

.Home__Splash {
  padding-top: 2rem;
}

.Home__Splash__Subtitle {
  font-size: 1.5rem;
}

.Home__CTA {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Home__Why {
  padding: 5rem 0;
}

.Home__Why__Subtitle {
  font-size: 1.1rem;
}

.Home__Why__Reason {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.Home__Catalog {
  padding: 5rem 0;
}

.Home__TryLive {
  padding: 5rem 0;
}

.Home__TryLive__DemoHeader {
  font-size: 1.1rem;
}

.Home__TryLive__Textarea {
  resize: none;
  height: 20rem;
  font-family: monospace;
}
